<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark"> <!-- create navbar-custom -->
    <div class="container">
        <!--Logo-->
        <a class="navbar-brand fs-4" href="#">CryptoKilla</a>

            <!--Toggle Btn-->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Side bar-->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- SideBar header-->
                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CryptoKilla</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- SideBar body-->
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    {% if config.navbar_alignment == 'left' %}
                    <ul class="navbar-nav justify-content-start align-items-center fs-6 flex-grow-1 pe-3">
                    {% elif config.navbar_alignment == 'right' %}
                    <ul class="navbar-nav justify-content-end align-items-center fs-6 flex-grow-1 pe-3">
                    {% else %}
                    <ul class="navbar-nav justify-content-center align-items-center fs-6 flex-grow-1 pe-3">
                    {% endif %}
                            <li class="nav-item mx-2"><a class="nav-link" aria-current="page"href="{% url 'landing-home' %}">Home</a></li>
                            <li class="nav-item mx-2"><a class="nav-link" aria-current="page"href="{% url 'landing-home' %}">Market</a></li>
                            <li class="nav-item mx-2"><a class="nav-link" aria-current="page"href="{% url 'landing-home' %}">News</a></li>
                            <li class="nav-item mx-2"><a class="nav-link" aria-current="page"href="{% url 'landing-home' %}">Trades</a></li>
                            <li class="nav-item mx-2"><a class="nav-link" aria-current="page"href="{% url 'landing-home' %}">About</a></li>
                            </ul>

                            <!-- Login/ Sign up-->
                            <div
                                class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                                <a href="#login" class="text-white">Login</a>
                                <a href="#signup"
                                    class="text-white text-decoration-none px-3 py-1 rounded-4" style="background-color: rgb(10,13,15)">Sign-Up</a>
                            </div>
                </div>
            </div>
        </div>
    </nav>
