{% extends 'landing/base.html' %}
{%load static%}

{% block extra_css %}

<style>
    :root {
        --main-font: 'Poppins', sans-serif;
        /*TO DO : to be selected from a list */
        --default-text-color: rgb(255, 255, 255);
        /* Can be selected by user */
        --background-image-url: url('{% static 'landing/images/header-background.jpg' %}');
        /* sizes: 1280x720 or 1920x1080 */
        --background-color-default: rgb(0, 0, 0, 0.3);
        --navbar-background-color: transparent;
        --navbar-scrolled-background-color: rgba(0, 0, 0, 0.3);
        --navbar-scrolled-background-blur: 10px;
        /*--btn-navbar-background-color: {{config.navbar_btn_color}};*/
    }

    body {
        font-family: var(--main-font);
        color: var(--default-text-color);
        background: var(--background-image-url) var(--background-color-default);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        /*background-repeat: no-repeat;*/
    }

    .navbar {
        background-color: var(--navbar-background-color) !important;
        transition: all 0.5s ease-in-out;
    }

    .navbar-scrolled {
        background-color: var(--navbar-scrolled-background-color);
        backdrop-filter: blur(var(--navbar-scrolled-background-blur));
    }

    .navbar-btn {
        background-color: var(--btn-navbar-background-color);
    }
</style>
{% endblock %}

{% block content %}
<section id="market" class="w-80 vh-100 d-flex flex-row justify-content-center align-items-start">
  <div class="container mt-5 " >
  <h2 style="margin-top:100px;">Trading Pairs</h2>
  <a href="{% url 'tradingpair-create' %}" class="btn btn-primary mb-3">Create Trading Pair</a>
  <table id="tradingpairTable" class="table table-striped" >
    <thead>
      <tr>
        <th>Base Currency</th>
        <th>Quote Currency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for trading_pair in trading_pairs %}
        <tr>
          <td>{{ trading_pair.base_currency.name }}</td>
          <td>{{ trading_pair.quote_currency.name }}</td>
          <td>
            <a href="{% url 'tradingpair-detail' trading_pair.id %}" class="btn btn-info btn-sm">Details</a>
            <a href="{% url 'tradingpair-update' trading_pair.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'tradingpair-delete' trading_pair.id %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </section>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function() {
    $('#tradingpairTable').DataTable();
  });
  </script>
{% endblock %}
