{% extends 'landing/base.html' %}
{%load static%}
{% block extra_css %}

<style>
    :root {
        --main-font: 'Poppins', sans-serif;
        /*TO DO : to be selected from a list */
        --default-text-color: rgb(255, 255, 255);
        /* Can be selected by user */
        --background-image-url: url('{% static 'header-background.jpg' %}');
        /* sizes: 1280x720 or 1920x1080 */
        --background-color-default: rgb(0, 0, 0, 0.3);
        --navbar-background-color: transparent;
        --navbar-scrolled-background-color: rgba(0, 0, 0, 0.3);
        --navbar-scrolled-background-blur: 10px;
        /*--btn-navbar-background-color: {{config.navbar_btn_color}};*/
    }

    body {
        font-family: var(--main-font);
        color: var(--default-text-color);
        background: var(--background-image-url) var(--background-color-default);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        /*background-repeat: no-repeat;*/
    }

    .navbar {
        background-color: var(--navbar-background-color) !important;
        transition: all 0.5s ease-in-out;
    }

    .navbar-scrolled {
        background-color: var(--navbar-scrolled-background-color);
        backdrop-filter: blur(var(--navbar-scrolled-background-blur));
    }

    .navbar-btn {
        background-color: var(--btn-navbar-background-color);
    }
</style>
{% endblock %}

{% block content %}
<section id="home" class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center fs-1">
        <div class="container d-flex flex-row justify-content-center align-items-center">
        {%if config.home_image_prosition == 'left' %}
        <div class="col-md-6">
            <img src={{config.home_image_url}} alt=".." class="img-fluid"></img>
        </div>
        <div class="col-md-6">
            <h1 style="font-size:1.5em">{{config.home_text_title}}</h1>
            <h1 style="font-size:0.9em">{{config.home_text_subtitle}}</h1>
            <p>{{config.home_text_paragraph}}</p>
        </div>
        {%elif config.home_image_prosition == 'right' %}
        <div class="col-md-6">
            <h1 style="font-size:1.5em">{{config.home_text_title}}</h1>
            <h1 style="font-size:0.9em">{{config.home_text_subtitle}}</h1>
            <h4>{{config.home_text_paragraph}}</h4>
        </div>
        <div class="col-md-6">
            <img src={{config.home_image_url}} alt=".." class="img-fluid"></img>
        </div>
        {%elif config.home_image_prosition == 'center' %}
        <div class="col-lg-12" align="center">
            <h1 style="font-size:1.5em">{{config.home_text_title}}</h1>
            <h1 style="font-size:0.9em">{{config.home_text_subtitle}}</h1>
            <h4>{{config.home_text_paragraph}}</h4>
            <img src={{config.home_image_url}} alt=".." class="img-fluid"></img>
        </div>
        {%else%}
        <div class="col-lg-12" align="center">
            <h1 style="font-size:1.5em">{{config.home_text_title}}</h1>
            <h1 style="font-size:0.9em">{{config.home_text_subtitle}}</h1>
            <h4>{{config.home_text_paragraph}}</h4>
        </div>
        {%endif%}
        </div>
    </section>

    <section id="feature" class="w-100 vh-100 d-flex flex-column justify-content-center align-items-center fs-1"
        style="background-color:{{config.features_background_color}};">
        <h1>Features</h1>

        <div class="d-flex flex-lg-row justify-content-around align-items-center flex-wrap"
            style=" margin-top:10px; margin-bottom:10px;">
            {%for feat in config.sections_features_list%}
            <div class="col-md-3 p-1">
                <div class="card">
                    <img src="{{feat.image_url}}" alt=".." class="img-fluid"></img>
                    <div class="card-body fs-5">{{feat.body_text}}</div>
                </div>
            </div>
            {%endfor%}
        </div>
    </section>
{% endblock %}

